<div class="operations-outcome">
  <div class="graphic-side">
    <donut [isIncome]="false"></donut>
  </div>
  <div class="data-side">
    <div class="titles">
      <div class="date-title">Date</div>
      <div class="amount-title">Montant</div>
      <div class="label-title">Libéllé</div>
    </div>
    <form class="new-outcome">
      <my-date-picker 
        class="new-date" 
        [options]="myDatePickerOptions" 
        (dateChanged)="onDateChanged($event)">
      </my-date-picker>
      <input class="new-amount" type="number" id="newAmount" #newAmount>
      <input class="new-label" type="text" id="newLabel" #newLabel>
      <div class="add-new-op disable-select" (click)="addOp(newAmount.value,newLabel.value)">
        Ajouter
      </div>
    </form>
    <div class="list-and-overflow">
      <div class="list-op">
        <operation [op]="op" *ngFor="let op of ops"></operation>
      </div>
    </div>
  </div>
</div>
