<div class="op-inner">
  <div class="op-main">
    <div class="date">{{op.date | date:'dd/MM/yyyy'}}</div>
    <div class="amount">{{op.amount}} €</div>
    <div class="label">{{op.label}}</div>
    <div class="edit" (click)="toggleEdit()">
      Editer
    </div>
  </div>
  <div class="op-detail" *ngIf="op === opService.getCurrentOp()">
    <form class="edit-op">
      <div class="edit-date">
        <label>Date: </label>
        <my-date-picker 
          class="datepicker"
          [options]="myDatePickerOptions" 
          (dateChanged)="onDateChanged($event)"
          [(ngModel)]="datePickerDate"
          name="editDate">
        </my-date-picker>
      </div>
      <div>
        <label for="editAmount">Montant: </label>
        <input type="text" id="editAmount" [value]="op.amount" size="5" class="edit-amount" #editAmount>
      </div>
      <div>
        <label for="editlabel">Libéllé: </label>
        <input type="text" id="editLabel" [value]="op.label" class="edit-label" #editLabel>
      </div>
      <div>
        <label>Catégorie: </label>
        <select [(ngModel)]="op.category" class="edit-category" name="editCategory" #editCategory>
          <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div> 
        <label>Type: </label>
        <select [(ngModel)]="op.type" class="edit-type" name="editType" #editType>
          <option *ngFor="let t of types" [ngValue]="t">{{t}}</option>
        </select>
      </div>
      <button 
        class="save-op" 
        (click)="editOp(editAmount.value, editLabel.value, editType.selectedIndex, editCategory.selectedIndex)">
        Enregistrer
      </button>
    </form>
  </div>
</div>
