<div class="app-container">
    <div class="app-headers">
        <div class="home-sheet disable-select" routerLink="/home" routerLinkActive="current-sheet">
            Accueil
        </div>
        <div class="income-sheet disable-select" routerLink="/income" routerLinkActive="current-sheet">
            Revenus
        </div>
        <div class="outcome-sheet disable-select" routerLink="/outcome" routerLinkActive="current-sheet">
            Dépenses
        </div>
    </div>
    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
</div>
