<div class="app-container">
    <div class="app-headers">
        <div class="header-sheet disable-select" routerLink="/home" routerLinkActive="current-sheet">
            <span>Accueil</span>
        </div>
        <div class="header-sheet disable-select" routerLink="/income" routerLinkActive="current-sheet">
            <span>Revenus</span>
        </div>
        <div class="header-sheet disable-select" routerLink="/outcome" routerLinkActive="current-sheet">
            <span>Dépenses</span>
        </div>
    </div>
    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
</div>
