.op-inner{
    width: 30em;
    margin-bottom: 0.2em;
}

.op-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-outcome{
    width: 30em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a61c2e;
}

.new-income{
    width: 30em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
}

.date{
    text-align: center;
    width: 15%;
}

.new-date{
    width: 15%;
    margin-left: 0.2em;
    margin-top: 0.3em;
}

.label{
   text-align: left;
   width: 55%;
}

.new-label{
    width: 55%;
}

.amount{
    text-align: center;
    font-weight: bold;
    width: 15%;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.new-amount{
    margin: 0.2em;
    width: 12%;
}

.edit{
    width: 15%;
    text-align: center;
}

.operations-outcome{
    width: 30em;
    padding: 0.5em;
    margin: auto;
    background-color: lightgray;
}

.titles{
    border-bottom: 1px solid darkgrey;
    display: flex;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.add-new-op{
    width: 15%;
    text-align: center;
}

.edit-op{
    display: block;
    width: 29em;
}

.edit-date{
    display: flex;
}

.datepicker{
    margin-left: 2.3em;
}

.edit-amount{
    margin-left: 0.65em;
} 
    
.edit-label{
    margin-left: 1.3em;
}    

.edit-type{
    margin-left: 2.3em;
    width: 8em;
}

.edit-category{
    width: 8em;
}

.save-op{
    display: flex;
    margin: auto;
}

.app-container{
    width: 31.1em;
    margin: auto;
}

.app-headers{
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-body{

}

.header-sheet{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11em;
    cursor: pointer;
}

.current-sheet{
    background-color: lightgray;
}

.disable-select{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

list-income operation{
    background-color: lightgreen;
}

list-income operation .op-detail{
    border: solid 2px lightgreen;
}

list-outcome operation{
    background-color: lightcoral;
}

list-outcome operation .op-detail{
    border: solid 2px lightcoral;
}

operation .op-detail{
    padding: 0.5em;
    background-color: lightgrey;
}

operation{
    display: block;
}